В наше время автомобиль стал для многих предметом первой необходимости, и ежедневно у автовладельцев  Поэтому вопрос взаимопомощи автовладельцев становится все актуальнее. К счастью мы живем в удивительное время, когда информационные технологии существенно упрощают нашу жизнь. 
    
<h4>Делитесь информацией о дорожной ситуации</h4>
    Поделиться информацией о пробках, помочь кому-то спасти своего четырехколесного друга от эвакуатора, найти свидетелей ДТП или предупредить друзей о какой-либо опасности на дороге теперь стало намного проще! 
    
<h4>В дороге случается всякое</h4>
Даже будучи уверенным на 100% в надежности своего авто, никто не застрахован от беды в дороге. Сел аккумулятор, закончился бензин,  
