@model BiBiHelp.Models.jQTemplate<BiBiHelp.Models.MessageModel>

<div class="message row-fluid">
    <div class="span10">
        <div class="row-fluid">
            <div class="span2"><img class="img-rounded" src="/Content/img/no_avatar.png" width="70" height="70"></div>
            <div class="span8"><p class="text-info"><strong>{{= it.Author }}</strong></p><p>{{= it.Text }}</p></div>
        </div>
        <div class="row-fluid">
            <div class="span2"></div>
            <div class="span8 muted">{{= it.DateCreated }}</div>
        </div>
    </div>
</div>
<hr style="margin: 0 auto 20px;">

 
    